.button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  border-radius: 3px;
  background-color: #ac11ff;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: 200ms;
  &:hover {
    background-color: #8b06d3;
  }
}
.pentagon {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  // clip-path: polygon(20% 0%, 80% 0%, 100% 60%, 50% 100%, 0% 60%);
  &__image {
    transform-origin: center center 0;
    transition: 200ms;
    &:hover {
      transform: scale(1.1);
      // width: 110%;
      // height: 110%;
    }
  }
}
.title {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}