.button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  border-radius: 3px;
  background-color: #ac11ff;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: 200ms;
  &:hover {
    background-color: #8b06d3;
  }
}
.pentagon {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  &_1 {
    mask-image: url('../img/pentagon.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    .pentagon__image {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &_2 {
    .pentagon__image {
      &:hover {
        width: 105%;
        height: 105%;
      }
    }
  }
  &_3 {
    clip-path: polygon(20% 0%, 80% 0%, 100% 60%, 50% 100%, 0% 60%);
    .pentagon__image {
      transform-origin: center center 0;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__image {
    transition: 200ms;
  }
}
.title {
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}