// ----------------------------------------------reset----------------------------------------------
@import 'reset.scss';

// ----------------------------------------------bootstrap----------------------------------------------
@import 'mybsgrid.scss';

// ----------------------------------------------variables----------------------------------------------
$mxw1600: 'max-width: 1600px';
$mxw1100: 'max-width: 1100px';
$mxw750: 'max-width: 750px';
$mxw720: 'max-width: 720px';
$mxw500: 'max-width: 500px';
$mxw420: 'max-width: 420px';

// ----------------------------------------------body----------------------------------------------
body {
  font-family: sans-serif;
  font-size: 16px;
}

// ----------------------------------------------wrapper----------------------------------------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

// ----------------------------------------------container----------------------------------------------
.container {
  width: 100%;
  padding: 20px 0;
  background-color: #e6e6e6;
  &_my {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 1rem;
    margin: 0 auto;
    .container__element {
      flex: 0 0 25%;
    }
    @media ($mxw1100) {
      .container__element {
        flex: 0 0 33.33%;
      }
    }
    @media ($mxw720) {
      .container__element {
        flex: 0 0 50%;
      }
    }
    @media ($mxw420) {
      .container__element {
        flex: 0 0 100%;
      }
    }
  }
  &_bs {
    margin: 50px auto 0;
  }
  &_alt {
    margin: 50px auto 0;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

// ----------------------------------------------import----------------------------------------------
@import 'components.scss';